{% extends 'base.html' %}
{% block title %}Áreas de Interesse{% endblock %}
{% block content %}
    <h1>Áreas de Interesse</h1>
    {% if areas %}
        <ul>
            {% for area in areas %}
                <li class="enquete-item"><a href="{% url 'detalhar_area_interesse' area.id %}">{{ area.nome }}</a> ({{ area.total_alunos }} alunos interessados)</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma área de interesse cadastrada.</p>
    {% endif %}
    <a href="{% url 'listar_enquetes' %}" class="back-link">Voltar para a lista de enquetes</a>
{% endblock %}