{% extends 'base.html' %}
{% block title %}Enquetes{% endblock %}
{% block content %}
    <h1>Enquetes Disponíveis</h1>
    {% if enquetes %}
        <ul>
            {% for enquete in enquetes %}
                <li>
                    <a href="{% url 'responder_enquete' enquete.id %}">{{ enquete.titulo }}</a> - {{ enquete.descricao }}
                    (<a href="{% url 'exibir_resultados' enquete.id %}">Ver Resultados</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há enquetes disponíveis no momento.</p>
    {% endif %}
    <a href="{% url '' %}" class="back-link">Voltar para a página inicial</a>
{% endblock %}