{% extends 'base.html' %}
{% block title %}Interesses dos Alunos{% endblock %}
{% block content %}
    <h1>Interesses dos Alunos</h1>
    {% if interesses %}
        <ul>
            {% for interesse in interesses %}
                <li class="enquete-item">
                    <a href="{% url 'detalhar_aluno' interesse.aluno.id %}">{{ interesse.aluno.nome }}</a> tem interesse em
                    <a href="{% url 'detalhar_area_interesse' interesse.area_interesse.id %}">{{ interesse.area_interesse.nome }}</a> (Nível: {{ interesse.nivel_interesse }})
                    <a href="{% url 'detalhar_interesse_aluno' interesse.id %}">Detalhes</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum interesse de aluno registrado.</p>
    {% endif %}
    <a href="{% url 'index' %}" class="back-link">Voltar para a página inicial</a>
{% endblock %}