{% extends 'base.html' %}
{% block title %}Detalhes do Interesse{% endblock %}
{% block content %}
    <h1>Detalhes do Interesse</h1>
    <p><strong>Aluno:</strong> <a href="{% url 'detalhar_aluno' interesse.aluno.id %}">{{ interesse.aluno.nome }}</a> ({{ interesse.aluno.email }})</p>
    <p><strong>Área de Interesse:</strong> <a href="{% url 'detalhar_area_interesse' interesse.area_interesse.id %}">{{ interesse.area_interesse.nome }}</a></p>
    <p><strong>Data de Adição:</strong> {{ interesse.data_adicao }}</p>
    <p><strong>Nível de Interesse:</strong> {{ interesse.nivel_interesse }}</p>
    <p><strong>Observações:</strong> {{ interesse.observacoes|default:"Nenhuma observação." }}</p>

    <a href="{% url 'listar_interesse_alunos' %}" class="back-link">Voltar para a lista de interesses</a>
    <a href="{% url 'listar_alunos' %}" class="back-link">Voltar para a lista de alunos</a>
    <a href="{% url 'listar_areas_interesse' %}" class="back-link">Voltar para a lista de áreas de interesse</a>
    <a href="{% url 'index' %}" class="back-link">Voltar para a página inicial</a>
{% endblock %}