<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Enquetes Lógica de Programação</title>
    <link rel="stylesheet" href="{% static 'perguntas/style.css' %}">
</head>
<body>
    <main>
        <section>
            <h1>Enquetes Recentes</h1>
            {% if latest_question_list %}
                <ul>
                    {% for question in latest_question_list %}
                        <li>
                            <a href="{% url 'perguntas:detail' question.id %}">
                                {{ question.question_text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhuma enquete disponível.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>