{% extends 'base.html' %}
{% block title %}Gerenciamento de Usuário{% endblock %}
{% block content %}
    <h2>Registro de Aluno</h2>
    <form method="post" class="styled-form">
        {% csrf_token %}
        {% include 'perguntas/form_errors.html' with form=registration_form %}
        {{ registration_form.as_p }}
        <button type="submit" class="styled-button">Registrar</button>
    </form>

    <hr>

    <h2>Seus Interesses</h2>
    <form method="post" class="styled-form">
        {% csrf_token %}
        {% include 'perguntas/form_errors.html' with form=interesse_form %}
        {{ interesse_form.as_p }}
        <button type="submit" class="styled-button">Adicionar Interesse</button>
    </form>

    <h3>Interesses Existentes</h3>
    {% if interesses %}
        <ul>
            {% for interesse in interesses %}
                <li>{{ interesse.area_interesse.nome }} (Nível: {{ interesse.nivel_interesse }}) - {{ interesse.observacoes|default:"Sem observações" }}</li>
            {% empty %}
                <li>Nenhum interesse adicionado ainda.</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'index' %}" class="back-link">Voltar para a página inicial</a>
{% endblock %}